/* .accordion {
   padding: 10px;
   width: 100%;
   transition: 0.5s;
   background-color:lightgray;
}
.accordion::after {
    content:"\02795";
    font-size: 15px;
    color:black;
    float: right;
    margin-left: 5px;
}
.active::after{
    content:"\2796"
}
.active, .accordion:hover {
    background-color:grey;
}
.panel {
    padding: 15px;
    display: none;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: gainsboro;
} */
body {
    font-size: 18px;
    text-align: center;
    font-family: fantasy;
}
ul {
    list-style-position: inside;
    text-align:left;
}
p {
    padding: 10px 0px;
}
a {
    color: black;
}
.btn {
    margin: 2px;
}
#map {
    height: 900px;
}
