<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    body
    {
        height: 100%;
        background-image: url("https://wallpaperplay.com/walls/full/f/c/8/129186.jpg");
        background-repeat: no-repeat, repeat;
        background-color: #cccccc;
        background-size: cover;
    }
    </style>

    <head>
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="script.js"></script>
        <title>Preference</title>
    </head>

    <body>
        <!--header-->
        <br>
        <div class = "container">
            <h1 style="color:white">Visitor Preference</h1>


<!--list of options-->
            <br>
            <!--group size-->
            <div class = "row">
                <div class = "col-5">
                    <h4 style="color:white">Group Size</h4>
                </div>
                <div class = "col-3">
                    <select class="form-control" id="groupSize">
                        <option>Please choose your group size</option>
                        <option value=1>1</option>
                        <option value=2>2</option>
                        <option value=3>3</option>
                        <option value=4>4</option>
                        <option value=5>5</option>
                        <option value=6>6</option>
                        <option value=7>Over 6 </option>
                    </select>
                </div>
            </div>
            <br>

            <!--estimate cost-->
            <div class = "row">
                <div class = "col-5">
                    <h4 style="color:white">Estimate Cost</h4>
                </div>
                <div class = "col-3">
                    <select class="form-control" id="estimateCost">
                        <option>Please pick your estimate cost</option>
                        <option value='$'>$</option>
                        <option value='$$'>$$</option>
                        <option value='$$$'>$$$</option>
                    </select>
                </div>
            </div>
            <br>

            <!--age-->
            <div class = "row">
                <div class = "col-5">
                    <h4 style="color:white">Age</h4>
                </div>
                <div class = "col-3">
                    <input type="text" class="form-control" id="age" placeholder="Please enter your age">
                </div>
            </div>
            <br>

            <!--Season-->
            <div class = "row">
                <div class = "col-5">
                    <h4 style="color:white">Current Season</h4>
                </div>
                <div class = "col-3">
                    <select class="form-control" id="season">
                        <option>Please choose current season</option>
                        <option>Spring</option>
                        <option>Summer</option>
                        <option>Autumn</option>
                        <option>Winter</option>
                    </select>
                </div>
            </div>
            <br>

            <!--Activity-->
            <div class = "row">
                <div class = "col-5">
                    <h4 style="color:white">Activity</h4>
                </div>
                <div class = "col-3">
                    <select class="form-control" id="activity">
                        <option>Please choose activity type</option>
                        <option value=0>Indoor</option>
                        <option value=1>Outdoor</option>
                    </select>
                </div>
            </div>
            <br>

            <!--Happy hour-->
            <div class = "row">
                <div class = "col-5">
                    <h4 style="color:white">Serving Alcohol</h4>
                </div>
                <div class = "col-3">
                    <select class="form-control" id="liquor">
                        <option>Please make a selection</option>
                        <option value=1>Yes</option>
                        <option value=0>No</option>
                    </select>
                </div>
            </div>
            <br>
            <!--submit button-->
            <div text-align = "right">
                <a href = "projStart">
                  <button type="submit" class="btn btn-primary" onclick="preferences('<%= JSON.stringify(data) %>')">Submit</button>
                </a>
            </div>
        </div>
    </body>
</html>
